<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>apple.www.letv.com</string>
	<string>ubmcmm.baidustatic.com</string>
	<string>cpro2.baidustatic.com</string>
	<string>cpro.baidustatic.com</string>
	<string>s.lianmeng.360.cn</string>
	<string>nsclick.baidu.com</string>
	<string>pos.baidu.com</string>
	<string>cbjs.baidu.com</string>
	<string>cpro.baidu.com</string>
	<string>images.sohu.com/cs/jsfile/js/c.js</string>
	<string>union.sogou.com</string>
	<string>sogou.com</string>
	<string>a.baidu.com</string>
	<string>c.baidu.com</string>
	<string>www.googleapis.com</string>
	<string>hm.baidu.com</string>
	<string>lemon.www.letv.com</string>
	<string>apple.www.letv.com</string>
	<string>u.api.lesports.com</string>
	<string>v.stat.letv.com</string>
	<string>player.pc.le.com</string>
	<string>ark.letv.com</string>
	<string>gsp1.apple.com</string>
	<string>pancake.apple.com</string>
	<string>cm.optaim.com</string>
	<string>cm.fancyapi.com</string>
	<string>cms.gtags.net</string>
	<string>letv.cm.admaster.com.cn</string>
	<string>pix04.revsci.net</string>
	<string>bx01.optimix.asia</string>
	<string>cm.jd.com</string>
</array>
</plist>
